
/*universal*/

.font{
	font-family:Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana," sans-serif";
	font-size:18px;
}
.fontsmall{font-size: 14px;}

.backgray{
	background: #F6F6F6;
}
.formmarpad{
	margin: 25px ;
	padding: 25px;
}
.imagebox{
	margin-bottom: 15px;
	border:8px solid #ffffff;
}
.imagebox:hover{
	margin-bottom: 15px;
	border:8px solid #ffffff;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shadow{
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.invisible{
	visibility: none;
}
.center
{
	text-align: center;
}
.right
{
	text-align: right;
}
.errrow
{
	font-size: 12px;
	color:crimson;
	margin-top: -50px;
}
.white{
	color: white;
	opacity:0.0;
}

legend{
	font-size: 28px;
	color: crimson;
	text-align: right;
}
p.noerror
{
	color:#f6f6f6;
}

/*logo*/
.logo{
	background: #3b3b3b;
	padding: 3px;
	text-align: left;
	color:#ffffff;
	overflow: hidden;
    position: fixed; 
    top: 0;
    width: 100%; 
}

.logosmall{
	background: #3b3b3b;
	padding: .2%;
	text-align: left;
	color:#ffffff;
    position: fixed; 
    top: 0;
    width: 100%; 
}


.topmargin{
	margin-top: 6%; 
}
.logolink{
	color: white;
	text-decoration: none;
	text-align: right;
}

.logolinkactive{
	color: white;
	text-decoration: none;
	text-align: right;
}

.logolink:hover{
	color:#000000;
	text-decoration: none;
}

.biglink{
	color: white;
	text-decoration: none;
}
.biglink:hover{
	color: #c3c6cc;
	text-decoration: none;
}
.activelink
{
	background-color: white;
	color: black;
	text-decoration: none; 
	opacity: 0.9;
}
/*header*/
.header{
	text-align: left;
    position: fixed; 
    top: 0;
    width: 100%; 
	margin-top: 4.2%;
}
/*footer*/
.footer{
	background: #3b3b3b;
	padding: 20px;
	text-align: center;
	color:#ffffff;
}